body {
    font-family: Arial,Helvetica,sans-serif;
}

header {
  min-width: 100%;
  padding-left: 12%;
  padding-right:12%;
  margin-top: 70px;
}

header div:first-child {
  position: relative;
}

header > div {
  background-color: #F72210;
 
}

.row.header-top {
  padding:0;
  margin: 0;
}

.header-date, .header-btn {
  padding-top: 30px; 
}

header svg{
  width: 100%;
}

.header-btn div{
  float: right;
  margin-bottom: 20px;
}

.login {
  color:white;
  font-size: 20px;
  padding-right: 20px;
}

.subscribe {
 border-radius: 15px;
 padding: 8px;
 background-color: #FFE400;
 margin-right: 30px;
 color:white;
}


.hr-icon-bottom {
  position: absolute;
  top: 100%;
  right: 0;
  content: "";
  display: block;
  width: 92px;
  height: 14px;
  background-color: #f72210;
  border-left: 22px solid white;
  border-top: 16px solid #f72210;
}

.header-main-2 {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.header-main-2 img {
    width: 50px;
    height: 50px;
}

.header-main-2 svg {
    margin-left: -30px;
    height: 40px;
    width: 350px;
    margin-top: 25px;
    position: static;
}

.header-top-menu li a, {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.header-bottom-menu li a, .footer-edition li a  {
    color: #d8c8c8;
    font-size: 14px;
}

.header-bottom-menu li:first-child a:first-child {
    color: #d8c8c8;
    color: black;
    font-weight: bold;
}

.header-top-menu ul li a {
    width: 100%;
}

.nav > li {
    position: relative;
    display: block;
    padding:5px;
    margin:0;
    width: fit-content;
  }

  .nav > li a {
    padding:0;
    margin:0;
  }

  .main-content div{
    height:300px;
  }

  footer svg {
    display: inline;
    width: 236px;
    height: 36px;
    margin-right: 15px;
    margin-bottom: 12px;
    fill: #f72210;
  }

  .fa {
    padding: 9px 14px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
    border-radius: 5px;
    text-decoration: none;
    background: rgb(161, 138, 138);
    color: white;
  }

  .fa-instagram {
    padding: 8px 13px;
    font-size: 14px;
  }

  .fa-tumblr {
    padding: 6px 11px;
    font-size: 12px;
  }

  .fa-linkedin {
    padding: 4px 9px;
    font-size: 10px;
  }

  .footer-logo span {
      font-size: 8px;
  }
  
@media screen and (max-width: 992px) {
    .header-main-1, .header-top-menu, .header-bottom-menu {
        display: none;
    }

    .header-main-2-lg{
        padding:0;
        margin: 0;
        min-width: 100%;
    }

    .header-btn div{
        float: right;
        margin-bottom: 10px;
        padding: 0;
      }

    .container-fluid {
        padding:0;
        margin:0;
    }

    .person-icon {
        display: none; 
    }

}
    .footer-icon {
  padding-top: 30px; 
}

@media screen and (min-width: 992.99px) {
    .header-main-2 {
        display: none;
    }
    .header-main-1-lg > div{
        padding-top: 40px;
      }
}


@media screen and (max-width: 768px) {
    .header-main-2 svg {
        margin-left: -30px;
        height: 30px;
        width: 250px;
        margin-top: 25px;
        position: static;
    }

    .person-icon{
        display: inline-block;
        width: 20px;
       
    }

    .header-main-2 img {
        width: 40px;
        height: 40px;
    }

    .login {
       display: none;
      }
      
      .subscribe {
       border-radius: 15px;
       padding: 5px;
       background-color: #FFE400;
       margin-right: 5px;
       margin-left: 20px;
       font-size: 12px;
      }

      .social-icons {
        float: left !important;
    }
}

@media screen and (max-width: 1387px) {
    header {
        min-width: 100%;
        padding-left: 2%;
        padding-right:2%
        }

}